@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:antiquewhite;
  background-repeat: no-repeat;
  background-size:cover;
}

.heading{
  text-align: center;
  color: #24c016;
  text-decoration:underline;
  padding: 30px;
}
.Quote{
  text-align: center;
  width:500px;
  margin-bottom: 50px;
  border: 5px solid salmon;
  border-radius: 8px;
}
.Quote-text{
  /* padding-top: 50px; */
  color:black;
  padding:15px;
}
@media screen and (min-width:500px){
  .Quote-text{
    font-size: 30px;
  }
}
.btn{
  width:200px;
  height: 60px;
  margin-top: 90px;
  background-color: #bde76f;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  font-family: 'Otomanopee One', sans-serif;
}

.btn:hover{
  background-color:lime;
  color:black;
}

footer{
  text-align:center;
  padding:20px;
}
