@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.heading{
  text-align: center;
  color: black;
}
.Quote{
  text-align: center;
  width:500px;
  height:200px;
  color: black;
  margin-bottom: 50px;
  /* border: 5px solid salmon;
  border-radius: 8px; */
}
.Quote-text{
  padding-top: 50px;
}
.btn{
  width:200px;
  height: 60px;
  background-color: salmon;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  font-family: 'Otomanopee One', sans-serif;
}

.btn:hover{
  background-color:sandybrown;
}
